<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.querania.querania">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/querania_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".home_page"
            android:label="@string/title_activity_home_page" />
        <activity
            android:name=".answer_page"
            android:label="@string/title_activity_answer_page" />
        <activity
            android:name=".navigationdrawer"
            android:label="@string/title_activity_navigationdrawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".reply_page" />
        <activity android:name=".notification" />
        <activity android:name=".myprofile" />
    </application>

</manifest>